@import 'tailwindcss';

@custom-variant hover (&:hover);

* {
	box-sizing: border-box;
	@apply transition-all;
	scroll-behavior: smooth;
}

html {
	@apply bg-slate-50 text-slate-900;
}

body {
	font-family: 'CourierPrime';
}

@font-face {
	font-family: 'CourierPrime';
	src: url('/Courier_Prime/CourierPrime-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: 'CourierPrime';
	src: url('/Courier_Prime/CourierPrime-Bold.ttf');
	font-weight: 800;
	font-display: swap;
}
@font-face {
	font-family: 'CourierPrime';
	src: url('/Courier_Prime/CourierPrime-Italic.ttf');
	font-weight: 800;
	font-display: swap;
	font-style: italic;
}
